*{
    margin: 0;
    padding: 0;

}
button{
    padding: 30px;
    margin-left: 20px;
}
#img1{
    width: 80px;
    height: 100px;
    margin: 80px 0 0 200px;
}

#container{
    width: 50vw;
    height: 50vh;
    border: 3px solid black;
    margin: 20px 0 20px 20px;
}