*{
    margin: 0;
    padding: 0;

}
#wrapper{
    display: block;
    margin: 10px 0 0 50vh;
    width: 57vw;
    padding: 20px;
    background-color:grey;
    height: 100vh;
}
button{
    padding: 30px;
    margin-left: 20px;
}
#img1{
    background-color: black;
    width: 100px;
    margin: 100px 0 0 700px;
    height: 100px;
}
h1{
    padding: 20px;
}
span{
    margin: 10px 0 20px 20px;
}
.imgTxt{
    
    
}

#container{
    width: 50vw;
    background-color: aqua;
    height: 50vh;
    border: 3px solid black;
    margin: 20px 0 20px 20px;
}